.registration {
	background-color: var(--white);
	max-width: 570px;
	max-height: 590px;
	border: 1px solid var(--grey-border);
	padding: 30px 100px;
}

.registrationHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	margin-bottom: 30px;
}

.registrationTitle {
	font-family: var(--fontB);
	font-size: var(--title);
	color: var(--black)
}

.registrationSubTitle {
	font-family: var(--fontL);
	font-size: var(--medium);
	color: var(--grey-main);
}

