.notfound {

}

.title {
	color: var(--black);
	font-family: var(--fontB);
}

.subTitle {
	color: var(--black);
	font-family: var(--fontB);
	margin-bottom: 50px;
}

.link {
	//color: var(--black);
	font-family: var(--fontB);
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}