:root {
  --black: #333;
  --white: #FFFFFF;
  --grey: #c4c4c4; 
  --grey-main: #757575;
  --grey-border: #E0E0E0;
  --softGrey: #616162;
  --medGrey: #c9c9cd;
  --lightGrey: #E0E0E1;
  --whiteSmoky: #f5f5f5;
  --red: #f17b73;
}
